[package]
name = "tears"
version = "0.1.0"
edition = "2024"
authors = ["Akiomi Kamakura <akiomik@gmail.com>"]
description = "A simple and elegant framework for building TUI applications using The Elm Architecture (TEA)"
documentation = "https://docs.rs/tears"
homepage = "https://github.com/akiomik/tears"
repository = "https://github.com/akiomik/tears"
license = "Apache-2.0"
readme = "README.md"
keywords = ["tui", "tea", "elm-architecture", "ratatui", "framework"]
categories = ["command-line-interface", "asynchronous"]
rust-version = "1.85.0"

[dependencies]
color-eyre = "0.6"
crossterm = { version = "0.28", features = ["serde", "event-stream"] }
futures = "0.3"
ratatui = { version = "0.29", features = ["serde", "macros"] }
tokio = { version = "1", features = ["full"] }
tokio-util = "0.7"
