[package]
name = "tears"
version = "0.1.0"
edition = "2024"

[dependencies]
color-eyre = "0.6"
crossterm = { version = "0.28", features = ["serde", "event-stream"] }
futures = "0.3"
ratatui = { version = "0.29", features = ["serde", "macros"] }
tokio = { version = "1", features = ["full"] }
tokio-util = "0.7"
